{% extends "base_site.html" %}
{% load i18n %}

{% block content %}
    <h2>{% trans 'Создание нового игрока ' %}</h2>
    {% if errorlist %}
        <div class="error">
            {{ errorlist }}
        </div>
    {% else %}
        <form action="{% url 'player-add' %}" method="POST">
        {% csrf_token %}
            {{ player_form.non_field_errors }}
                {{ player_form.as_p }}
            <hr />
            <input class="button" type="submit" value="{% trans 'СОЗДАТЬ' %}" />
        </form>
    {% endif %}
{% endblock %}
